<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>
<body>
  <div class="page">
    <h1>Login</h1>
    <form id = "login form" action = "/login" method = "post">
      
      <div class="login_div" id = "username">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name = "username" id="username" placeholder = "Enter username" 
          style="background-color:rgb(30, 45, 47); color:rgb(203, 212, 194); border-color: rgb(203, 212, 194);">
      </div>

      <div class="login_div" id = "password">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id= "password" name = "password" placeholder="Enter password" 
         style="background-color:rgb(30, 45, 47); color:rgb(203, 212, 194); border-color: rgb(203, 212, 194);">
      </div>

      <div class="submit_btn">
          <button type="submit"  class="btn btn-primary" id = "submit-button" 
          style ="background-color:rgb(118, 65, 52); border-color: rgb(118, 65, 52); color:rgb(203, 212, 194);">
          Login</button>
      </div>
      <div>
        <small>Don't have an account?</small>
        <a href="/register" style="text-decoration-color:rgb(197, 161, 151);"><small class = "register"> Register!</small> </a>
      </div>
  </form>
  </div>
</body>

<%- include ('../partials/footer') %>