<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Login</h1>
    <form id = "login form" action = "/login" method = "post">
      <div class="mb-3" id = "username">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name = "username" id="username" placeholder = "Enter username">
      </div>

      <div class="mb-3" id = "password">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id= "password" name = "password" placeholder="Enter password">
      </div>

      <div class="submit">
          <button type="submit"  class="btn btn-primary" id = "submit-button" >Login</button>
      </div>
      <hr>
      <div>
        <small>Don't have an account?</small>
        <a href="/register"><small> Register!</small> </a>
      </div>
  </form>
  </div>
</main> 

<%- include ('../partials/footer') %>