<!-- 
    1. Login though Spotify
 -->

<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <!-- <div class="container">
    <h1>Login</h1>
    <form id = "login form" action = "/login" method = "post">
      <div class="mb-3" id = "username">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name = "username" id="username" placeholder = "Enter username">
      </div>

      <div class="mb-3" id = "password">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id= "password" name = "password" placeholder="Enter password">
      </div>

      <div class="submit">
          <button type="submit"  class="btn btn-primary" id = "submit-button" >Login</button>
      </div>
      <hr>
      <div>
        <small>Don't have an account?</small>
        <a href="/register"><small> Register!</small> </a>
        <!~~ <small>Log in with Spotify</small>  ~~>
        <!~~ <a href="/???">Login Through Spotify</a> ~~>
      </div> -->
      
      <div id="login_spotify"> 
        <h1>This is an example of the Authorization Code flow</h1> 
        <a href="/login_spotify" class="btn btn-primary">Log in with Spotify</a>
      </div>
      <div id="loggedin">
        <div id="user-profile">
        </div>
        <div id="oauth">
        </div>
    </form>
      <h1>Logged in as  <%= display_name %> </h1>
  </div>
</body>
</main> 
<%- include ('../partials/footer') %>