<!-- 
    1. Profile image
    2. Description (who you are and a song that you like + snippet)
    3. Privacy (what do you allow people to see)
    4. Snippets of favorite pieces (max 10 secs per snippet) 
    5. top tracks 
-->

<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    
    <h1> <%= user.display_name %></h1>
</main>


<%- include ('../partials/footer') %>