<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <div class="container">
        <table class="table">
            <tr>
                <th>Username</th>
                <th>Favorite Snippets</th>
                <th>Top Tracks</th>
            </tr>
            <tr>
                <td>
                <img src="https://www.business2community.com/wp-content/uploads/2019/03/best-practices-stock-photos.jpg" alt="This is the profile image." width="200 px">
                </td>
                <td><img src="https://c.clc2l.com/t/a/p/apple-music-tNKCFp.jpg" alt="music note" width="50 px"> Snippet title <br>
                    <img src="https://c.clc2l.com/t/a/p/apple-music-tNKCFp.jpg" alt="music note" width="50 px"> Snippet title <br>
                    <img src="https://c.clc2l.com/t/a/p/apple-music-tNKCFp.jpg" alt="music note" width="50 px"> Snippet title <br>
                    <img src="https://c.clc2l.com/t/a/p/apple-music-tNKCFp.jpg" alt="music note" width="50 px"> Snippet title <br>
                    <img src="https://c.clc2l.com/t/a/p/apple-music-tNKCFp.jpg" alt="music note" width="50 px"> Snippet title <br>
                </td>
                <td>
                    <img src="https://c.clc2l.com/t/a/p/apple-music-tNKCFp.jpg" alt="music note" width="50 px"> Song title by Artist<br>
                    <img src="https://c.clc2l.com/t/a/p/apple-music-tNKCFp.jpg" alt="music note" width="50 px"> Song title by Artist<br>
                    <img src="https://c.clc2l.com/t/a/p/apple-music-tNKCFp.jpg" alt="music note" width="50 px"> Song title by Artist<br>
                    <img src="https://c.clc2l.com/t/a/p/apple-music-tNKCFp.jpg" alt="music note" width="50 px"> Song title by Artist<br>
                    <img src="https://c.clc2l.com/t/a/p/apple-music-tNKCFp.jpg" alt="music note" width="50 px"> Song title by Artist<br>
                </td>
            </tr>
    </table>
    </div>



</main>


<%- include ('../partials/footer') %>