<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link href="../../resources/css/login.css" rel = "stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../../resources/css/login.css" rel = "stylesheet" type="text/css">
    <base href="/">
      
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <title>Melodie</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  
<style>
  body
  {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font: 'Helvetica, sans-serif';
  }
  div
  {
    background-color:  rgb(0, 0, 0);
  }
  .carousel-item.active 
  {
    display:block;
  }
  .login_div
  {
    text-align:center;
    width: 280px;
    margin: auto;
    padding: 10px;
  }
  .page
  {
    text-align:center;
    margin: auto;
    padding: 135px;
  }
  .login
  {
    text-align:center;
    margin:auto;
    padding:50px;
    padding-left:300px;
    padding-right:300px;
  }
  .submit_btn
  {
    padding: 20px;
  }
  .menu_div
  {
    background-color: rgb(30, 30, 30);
  }
  .home_div
  {
    text-align:center;
    margin:auto;
    padding: 35px;
  }
  .home_row:after {
    content: "";
    display: table;
    clear: both;
  }
  .home_column_small
  {
    color:white;
    text-align: left;
    background-color: rgb(30, 30, 30);
    height: 435px;
    border-radius: 10px;
    width:25%;
    padding:10px;
  }
  .home_column_big
  {
    color:white;
    text-align:left;
    width:50%;
    padding:10px;
    padding-left:50px;
    padding-right:50px;
  }
  .home_trendingNow_image
  {
    color:white;
    width:70px;
    text-align:left;
    padding:10px;
    background-color: rgb(30, 30, 30);
  }
  .home_trendingNow_text
  {
    color:white;
    width:300px;
    text-align:left;
    background-color: rgb(30, 30, 30);
  }
  .home_title
  {
    color: white;
    padding-bottom: 10px;
  }
  .home_posts
  {
    border: 0.5px solid;
    border-color: rgb(51, 51, 51);
    padding:10px;
    padding-left:10px;
    padding-right: 10px;
  }
  .home_posts_songImage
  {
    padding:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    position: relative;
  }
  .like-content {
    font-size: 10px;
  }
  .like-content .btn-secondary {
      text-align: center;
      border-radius: 3px;
      padding: 10px 17px;
      font-size: 18px;
      color: #ffffff;
      background:none;
      text-decoration: none;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
  }
  .like-content .btn-secondary:hover {
      transform: translateY(-3px);
      color:pink;
  }
  .like-content .btn-secondary .fa {
      margin-right: 5px;
  }
  .home_post_songName
  {
    bottom: 34px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    background-color: black;
    opacity: 0.8;
    text-align:center;
  }
  .home_post_songArtist
  {
    bottom: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    background-color: black;
    opacity: 0.8;
    text-align:center;
  }
  .home_post_userComment
  {
    font-style:italic;
    text-align:center;
  }
  .login_box
  {
    background-color: rgb(30,30,30);
    height:550px;
    text-align:center;
    padding-top:20px;
    padding:50px;
  }
  .login_note_div
  {
    background-color: rgb(30,30,30);
    padding-bottom: 100px;
    padding-top:15px;
  }
  form
  {
    text-align: center;
  }
  h1
  {
    text-align: center;
  }
  .login_welcome
  {
    color:white;
  }
  h4
  {
    color:white;
  }
  .login_welcome_h4
  {
    color:rgb(79, 124, 172);
    font-style: italic;
    padding-bottom: 115px;
  }
  .login_carosel
  {
    color:white;
    padding:30px;
    background-color: rgb(30,30,30);
    font-size:20px;
    font-style: italic;
  }
  h6
  {
    color:white;
  }
  .login_welcome_h6
  {
    color:white;
    font-style:italic;
    padding-bottom:15px;
  }
  small
  {
    color:rgb(241, 255, 250);
  }
  .register
  {
    color: rgb(79, 124, 172);
  }
  .login_note
  {
    color:white;
    font-style:italic;
  }
  p
  {
    color:white;
  }
  .home_trendingNow_song
  {
    color:white;
    font-size: 20px;
    height:20px;
  }
  .home_trendingNow_artist
  {
    color:grey;
    font-size:15px;
  }
  .home_post_username
  {
    font-size:16px;
    font-weight: bold;
  }
  a
  {
    color:white;
  }
  .login_button
  {
    background-color:rgb(30,215,96);
    border-radius: 5px;
    padding:10px;
    color:black;
    font-weight: bold;
    height:20px;
    font-size:20px;
  }
  button
  {
    color:white;
  }
  .login_button
  {
    background-color:rgb(30,215,96);
    border-radius: 5px;
    padding:10px;
    color:black;
    font-weight: bold;
    height:52px;
    font-size:20px;
  }
</style>
