  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <nav class="navbar navbar-expand-sm border-bottom" style="background-color:rgb(0, 0, 0);">
    <div class="container" style="background-color:rgb(0, 0, 0);">
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse" style="background-color:rgb(0, 0, 0);">
        <ul class="navbar-nav me-auto" >
          <li class="nav-item" >
            <a class = "nav-link" href = "/home" style = "color: rgb(213, 213, 213);">Home</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href = "/profile" style = "color: rgb(213, 213, 213);">Profile</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href = "/music" style = "color: rgb(213, 213, 213);">Music</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href = "/friends" style = "color: rgb(213, 213, 213);">Friends</a>
          </li>
        </ul>
        <div class="nav-item me-3">
          <a class = "nav-link" href = "/logout" 
          style = "color: rgb(213, 213, 213);background-color:rgb(0, 0, 0);">Logout</a>
        </div>
        <div class="nav-item me-3" style = "background-color:rgb(0, 0, 0);">
          <a class = "nav-link" href = "/profile"><i class='fas fa-user-circle' 
            style='font-size:24px;background-color:rgb(0, 0, 0); color: rgb(213, 213, 213);;'></i></a>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- statistics, rankings I think should be within friends and profile. 
    When you look on your profile you want to see your statistics. When you see your friend's profile you want
    to see their statistics. Having a general statistics page I guess could work but we would need to implement
    search functions given input on who you want to see statisticss for. -->
  
