<header>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <nav class="navbar navbar-expand-sm border-bottom">
    <div class="container">
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class = "nav-link" href = "/home">Home</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href = "/statistic">Statistics</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href = "/friends">Friends</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href = "/rankings">Rankings</a>
          </li>
        </ul>
        <div class="nav-item me-3">
          <a class = "nav-link" href = "/logout">Logout</a>
        </div>
        <div class="nav-item me-3" >
          <a class = "nav-link" href = "/profile"><i class='fas fa-user-circle' style='font-size:24px'></i></a>
        </div>
      </div>
    </div>
  </nav>
 </header>