  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <nav class="navbar navbar-expand-sm border-bottom" style="background-color:rgb(2, 18, 18);">
    <div class="container" style="background-color:rgb(2, 18, 18);">
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse" style="background-color:rgb(2, 18, 18);">
        <ul class="navbar-nav me-auto" >
          <li class="nav-item" >
            <a class = "nav-link" href = "/home" style = "color: rgb(203, 212, 194);">Home</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href = "/statistic" style = "color: rgb(203, 212, 194);">Statistics</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href = "/friends" style = "color: rgb(203, 212, 194);">Friends</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href = "/rankings" style = "color: rgb(203, 212, 194);">Rankings</a>
          </li>
        </ul>
        <div class="nav-item me-3">
          <a class = "nav-link" href = "/logout" 
          style = "color: rgb(203, 212, 194);background-color:rgb(2, 18, 18);">Logout</a>
        </div>
        <div class="nav-item me-3" style = "background-color:rgb(2, 18, 18);">
          <a class = "nav-link" href = "/profile"><i class='fas fa-user-circle' 
            style='font-size:24px;background-color:rgb(2, 18, 18);'></i></a>
        </div>
      </div>
    </div>
  </nav>
